<div class="page-header">
  <h1>Poll.it</h1>
</div>

<div class="row">
  <div class="col-md-12">

    <h3 ng-bind="poll.title"></h3>

    <p ng-bind="poll.description"></p>

    <form ng-submit="ctrl.submit_poll()">

      <div class="poll-question well" ng-repeat="q in poll.questions">
        <span ng-bind="q.questionText"></span>
        <ul class="question-options-list">
          <li>
            <input type="radio" ng-model="q.response" value="yes" name="question-{{$index}}" id="question-{{$index}}-yes">
            <label for="question-{{$index}}-yes"> yes<label>
          </li>
          <li>
            <input type="radio" ng-model="q.response" value="no"  name="question-{{$index}}" id="question-{{$index}}-no">
            <label for="question-{{$index}}-no"> no<label>
          </li>
        </ul>
      </div>

    <input type="submit" class="btn btn-primary pull-right" value="Submit Response">
    </form>
  </div>
</div>
